<h1 class="text-light">Tarifas - Energia Elétrica</h1>
<br>
<h5 class="text-light"> <li><%= link_to '[Tabelas>Tarifas]', table_path, :class => "text-warning" %> para os dados completos.</li></h5>
<h5 class="text-light"> <li><%= link_to '[Tabelas>Base]', tariffs_path, :class => "text-warning" %> para a tabela base.</li></h5>
<h5 class="text-light"> <li><%= link_to '[Tabelas>Parâmetros]', rates_path, :class => "text-warning" %> para os parâmetros relacionados a cada mês.</li></h5>


<h4 class="text-light">Obs:</h4>
<pre>
<h6>Todos os dados contidos nesta ferramenta foram retirados das tabelas presentes no site da <a href="https://www.aneel.gov.br/resultado-dos-processos-tarifarios-de-distribuicao" target="_blank">ANEEL</a>. </h6>
<h6>Mês e ano de referência: <%= "#{@min_month}/#{@min_year} a #{@max_month}/#{@max_year}" %>.</h6>
</pre>
